option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "nbcc_backend.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "nbcc_backend.wsgi:application"
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/api/health/"
    MatcherHTTPCode: "200,404"
    Port: "8000"
    Protocol: "HTTP"
    StickinessEnabled: "true"
    StickinessLBCookieDuration: "43200"
